h1{
    color:#604432;
    size:48px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
body{
    color: #1E1510;
    background-color: bisque;
    size: 16px;
    font-family: 'Yu Gothic Medium';
}